@tailwind base;
@tailwind components;
@tailwind utilities;

.drop-down-button {
    @apply inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500;
}

.drop-down-block {
    @apply z-10 origin-top-right absolute left-0 mt-2 w-max rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none;
}

.drop-down-item {
    @apply text-gray-700 block px-4 py-2 text-sm;
}
.main-back {
    @apply xs:px-3 sm:px-10 md:px-16 lg:px-20 my-5;
}

.input-custom {
    @apply border border-black border-opacity-40 focus:outline-none focus:ring focus:border-gray-500 focus:border-green-50 rounded-md p-2
}

@responsive {
    .custom-slider .slick-list {
        padding: 0 20% 0 0 !important;
    }

    .slick-prev-arrow, .slick-next-arrow {
        font-size: 0;
        line-height: 0;
        display: block;
        position: absolute;
        top: 50%;
        padding: 0;
        width: 100px;
        height: 50px;
        /*@apply w-40;*/
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
    }

    .slick-next-arrow {
        right: -60px;
    }

    .slick-prev-arrow {
        left: -60px;
    }

    .slick-slide {
        @apply mx-4;
    }
}

/* Output */

.animationNav {
}

@media (min-width: 300px) and (max-width: 639px) {
    .xs\:custom-slider .slick-list {
        padding: 0 10% 0 0 !important;
    }
}

@media (min-width: 640px) {
    .sm\:custom-slider .slick-list {
        padding: 0 5% 0 0 !important;
    }
}

@media (min-width: 768px) {
    .md\:custom-slider .slick-list {
        padding: 0 15% 0 0 !important;
    }
}

@media (min-width: 1024px) {
    .lg\:custom-slider .slick-list {
        padding: 0 15% 0 0 !important;
    }
}

@media (min-width: 1280px) {
    .xl\:custom-slider .slick-list {
        padding: 0 20% 0 0 !important;
    }
}
